{% block blog_section %}
    <section class="blog_section">
        <div class="blogwrapper">
            <h1>Doctor's Note</h1>
            <div class="articlewrapper">
                <p>Trending...</p>
                <div class="trendingarticleimage">
                    <img src="/static/home_images/blog%20picture.jpg" alt="Doctor's Note Image">
                </div>
                <div class="articledetail">
                    <h2>What Is Vitamin Alfa?</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis iste quibusdam voluptatem fugit est ipsa, ullam, possimus esse dolores id numquam, voluptatum dolorem explicabo maxime voluptas mollitia praesentium ducimus neque enim sit provident accusamus. Accusantium tenetur consectetur quam impedit. Magnam beatae eaque exercitationem tempore magni unde incidunt libero facilis assumenda.</p>
                    <a href="#" class="read-more">Read more</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}