{% block blog_section %}
    <section class="blog_section">
        <div class="blogwrapper">
            <h1>Doctor's Note</h1>
            <div class="articlewrapper">
                <p>Trending...</p>
                <div class="trendingarticleimage">
                    <img src="/static/home_images/blog%20picture.jpg" alt="Doctor's Note Image">
                </div>
                <div class="articledetail">
                    <h2>What Is Vitamin Alfa?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium repellat blanditiis
                        dolore
                        corrupti
                        est quam
                        magnam perspiciatis culpa, sequi id obcaecati tempore ipsa harum ab maiores nemo voluptas.
                        Ducimus
                        aut
                        optio vero
                        esse fugiat quasi officia cumque explicabo sit ipsam? Praesentium deleniti accusamus
                        consectetur
                        repellendus maxime
                        exercitationem ullam. Eaque, exercitationem.</p>
                    <a href="#" class="read-more">Read more</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}