{% block products_section %}
    <section class="products_section">
        <div class="products_header_design">
            <div class="slidetitledesign1"></div>
            <span class="productslidesheader">Place that order</span>
            <div class="slidetitledesign2"></div>
        </div>
        <div class="product-slides">
            <div class="product-box">
                <div class="displayimage">
                    <img src="/static/home_images/supplement%201.jpg" alt="Product 1">
                </div>
                <span class="subcategory">Vitamins</span>
                <div class="product_name_button">
                    <h3>Product 1</h3>
                    <button class="viewbutton">view</button>
                </div>
            </div>
            <div class="product-box">
                <div class="displayimage"><img src="/static/home_images/supplement%202.jpg" alt="Product 2"></div>
                <span class="subcategory">Vitamins</span>
                <div class="product_name_button">
                    <h3>Product 1</h3>
                    <button class="viewbutton">view</button>
                </div>
            </div>
            <div class="product-box">
                <div class="displayimage">
                    <img src="/static/home_images/supplement%203.jpg" alt="Product 3">
                </div>
                <span class="subcategory">Vitamins</span>
                <div class="product_name_button">
                    <h3>Product 1</h3>
                    <button class="viewbutton">view</button>
                </div>
            </div>
            <div class="product-box">
                <div class="displayimage"><img src="/static/home_images/supplement%204.jpg" alt="Product 4"></div>
                <span class="subcategory">Vitamins</span>
                <div class="product_name_button">
                    <h3>Product 1</h3>
                    <button class="viewbutton">view</button>
                </div>
            </div>
            <div class="slide_left"></div>
            <div class="slide_right"></div>
        </div>
    </section>
{% endblock %}