{% block testimonial-stat-section %}
    <section class="testimonial-stat-section">
        <div class="testimonials">
            <h1>Testimonials</h1>
            <div class="testimonialwrapper">
                <div class="testimonial-box">
                    <div class="testifyingimage"><img src="/static/home_images/testimonial%20image%202.jpg">
                    </div>
                    <div class="commentbox">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget arcu varius,
                            facilisis odio
                            eu,laoreet mi.Integer elementum magna in enim lobortis luctus.</p>
                    </div>
                    <h3>John Doe</h3>
                </div>
                <div class="testimonial-box">
                    <div class="testifyingimage">
                        <img src="/static/home_images/testimonial%20image%201.jpg">
                    </div>
                    <div class= "commentbox">
                        <p>Etiam pellentesque dictum fermentum. Quisque mattis venenatis dolor, sit amet auctor nunc. Vestibulum
                            consequat vitae lectus ut hendrerit.</p>
                    </div>
                    <h3>Jane Smith</h3><span>2 years+</span>
                </div>
                <div class="testimonial-box">
                    <div class="testifyingimage"><img src="/static/home_images/testimonial%20image%203.jpg"></div>
                    <div class="commentbox">
                        <p>ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget arcu varius, facilisis odio eu,laoreet
                            mi.Integer
                            elementum magna in enim lobortis luctus.</p>
                    </div>
                    <h3>Michael Johnson</h3><span>1 year+</span>
                </div>
            </div>
            <div class="slide_left"></div>
            <div class="slide_right"></div>
        </div>
        <div class="factsBg">
            <div class="facts">
                <!-- Section with facts about HLS -->
                <div class="fact">
                    <div class="icon"><i class="fas fa-chart-line fa-2x"></i></div>
                    <span class="value">83</span>
                    <p>Visits per month</p>
                </div>
                <div class="fact">
                    <div class="icon"><i class="fas fa-shopping-cart fa-2x"></i></div>
                    <span class="value">56</span>
                    <p>Purchases per month</p>
                </div>
                <!-- <div class="fact">
                            <div class="icon"><i class="fas fa-comments fa-2x"></i></div>
                            <p>Testimonials per month</p>
                            <span class="value">39</span>
                        </div> -->
                <div class="fact">
                    <div class="icon"><i class="fas fa-users fa-2x"></i></div>
                    <span class="value">10</span>
                    <p>Registered principals</p>
                </div>
            </div>
        </div>
    
    </section>
{% endblock %}