*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
}


.container {
    max-width: 700px;
    background-color: #fff;
    padding-bottom: 30px;
}

.blog_intro{
    background-color: rgb(222, 176, 135);
}


.head_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: end;
    height: 60px;
    border-bottom: solid 0.5px whitesmoke;
    padding: 10px;
}

.related_podcast{
    display: flex;
    width: 45%;
    justify-content: center;
    gap: 4px;
}

.blog_tag{
    margin-bottom: 5px;
}

.post_title,.blog_key_point,.blog_tag{
    padding-left: 3px;
}

.head_title img{
    width: 45%;
    height: 100%;
}
.post-metadata{
    border-right: solid #666 0.5px;
    height: 100%;
    padding-right: 5px;

}



.play_icon i, .metadata-icon-section i{
    width: 20px;
    height: 20px;
    color: #666666df;
    margin-top: 3px;
    padding-left: 3px;
}

.metadata-icon-section span {
    font-size: 14px;
    color: #666;
}


.blog_body{
    padding: 10px;
}

.author-info {
    display: flex;
    min-height: 100px;
    /* justify-content: space-between; */
    gap: 5px;
    border-top: #666 solid 1px;
    padding-top: 10px;
}

.author_pic{
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: solid black;
}


.author-profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-detail{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.author-name {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.post_image-1{
    width: 100%;
    height: 300px;
}

.post_image-1 img{
    width: 100%;
    height: 100%;
}

.post-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-metadata-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 3px;
}
    
.metadata-icon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.post-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    width: 30%;
    border: solid 1px rgb(53, 71, 68);
    margin-top: 8px;
}

 .action-buttons .fas{
    color: rgb(53, 71, 68);
    cursor: pointer;
}

.like-button:hover,
.comment-button:hover,
.share-button:hover {
    background-color: #1f48219f;
}
