{% extends "base/auth_base.html" %} <br />

{% block login %} <br />
{% load static %}
{{ form.non_field_errors }}
<!-- Display non-field errors, e.g., for incorrect credentials -->

<div class="login_bg">
	<div class="form_container">
		<form method="POST">
			{% csrf_token %}
			<div class="logo-container">
				<img src="{% static 'home_images/HLS logo png 1.png' %}" alt="HLS Logo" class="logo">
			</div>
			<div class="log_container">
				<fieldset>
					<legend>Login to your dashboard</legend>
					<fieldset class="inner_fieldset">
						<!-- Username field -->
						<div class="form-group">
							{{ form.username }}
							<i class="fa fa-user" aria-hidden="true"></i>
							{% if form.username.errors %}
							<ul class="errorlist">
								{% for error in form.username.errors %}
								<li class="text-danger">{{ error }}</li>
								{% endfor %}
							</ul>
							{% endif %}
						</div>

						<!-- Password field -->
						<div class="form-group">
							{{ form.password }}
							<i class="fa fa-lock" aria-hidden="true"></i>
							{% if form.password.errors %}
							<ul class="errorlist">
								{% for error in form.password.errors %}
								<li class="text-danger">{{ error }}</li>
								{% endfor %}
							</ul>
							{% endif %}
						</div>

						<input type="submit" value="submit" />
						<a href="#" class="forgot-password">Forgot Password?</a>
					</fieldset>
				</fieldset>

				<div class="social-login-container">
					<p class="alt_login">or login with:</p>
					<div class="social-login-options">
						<a href="#" class="social-login facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
						<a href="#" class="social-login twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
						<a href="#" class="social-login linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
						<a href="#" class="social-login whatsapp"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</form>

		<!-- Display Django messages, if any -->
		<!-- {% for message in messages %}
			<div class="alert alert-info">{{ message }}</div>
		{% endfor %} -->
	</div>
</div>

{% endblock %}
