<!DOCTYPE html>
<html lang="en">
    {% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-<YOUR-INTEGRITY-CODE-HERE>" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/blog_detail.css' %}">
</head>
<body>
    <div class="container">
        <div class="blog_intro">
            <div class="head_title">
                <img src="/static/home_images/HLS logo with serenity 2.png" alt="hls-logo">
                <div class="related_podcast">
                    <span class="play_icon"><i class="fas fa-solid fa-play"></i></span>
                    <h3>related podcast</h3>
                </div>
            </div>
            <div class="post_title">
                <h4 class="blog_tag">{{post.category}}</h4>
                <h1 class="post_title">{{post.title}}</h1>
                <h3 class="blog_key_point">{{post.highlight}}
                    debitis ipsa est.</h3>
            </div>
            <div class="post_image-1">
                <img src="{{post.image_1.url}}" alt="Image 1">
            </div>
        </div>
        
        <div class="post-metadata-section">
            <div class="post-metadata">
                <span>500 words</span>
                <span>10 sentences</span>
            </div>
            <div class="metadata-icon-section">
                <i class="fas fa-clock"></i>
                <span>10</span>
            </div>
            <div class="metadata-icon-section">
                <i class="fas fa-heart"></i>
                <span>250</span>
            </div>
            <div class="metadata-icon-section">
                <i class="fas fa-comment"></i>
                <span>50</span>
            </div>
            <div class="metadata-icon-section">
                <i class="fas fa-shopping-cart"></i>
                <span>20</span>
            </div>
            
        </div>
        <p class="published_date"></p>
        <h3 class="author-name">{{post.author.name}}</h3>

        <div class="blog_body">
            <p class="post-content">{{post.content_1}}</p>
            <img src="{{post.image_2.url}}" alt="Image 2" class="post-image">
            <h5>image comment</h5>
            <p class="post-content">{{post.content_2}}
            </p>
            <div class="action-buttons">
                <button class="like-button"><i class="fas fa-heart"></i></button>
                <button class="comment-button"><i class="fas fa-comment"></i></button>
                <button class="share-button"><i class="fas fa-share"></i></button>
            </div>
        </div>

        
        <div class="author-info">
            <img src="{{post.author.image.url}}" alt="Author Profile Picture" class="author-profile-picture">
            <p class="{{post.author.bio}}">Ayomide Ogunlusi is a practising pharmacologist currently working in bita betterpahrmaceuticals in ireland great britain she graduated from lagos state university and has a passion to bring medical breakthroughs to all hopefuls in healthcare and medicine</p>
        </div>
    </div>
    <!-- <script src="{% static 'js/blog_detail.js' %}"></script> -->
</body>
</html>
