* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	height: 100vh;
}

.login_bg {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("/static/home_images/loginround_bg.48684756893f.jpeg");
	background-size: contain;
}

.reg_bg {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("/static/home_images/reg_image.adf53dbf71e5.jpeg");
	background-size: contain;
}

.form_container {
	height: 80%;
	width: 90%;
}

form {
	background-color: #d0d2d6;
	padding: 20px;
	border-radius: 10px;
	height: 100%;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.reg_container {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 100%;
	height: 80%;
	margin-top: 50px;
}

.log_container {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 100%;
	height: 35%;
}

.logo-container {
	text-align: center;
	margin-bottom: 20px;
}

.logo {
	width: 100px;
	/* Adjust the width as needed */
	height: auto;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

fieldset {
	height: 100%;
	margin-top: 30px;
	border: none;
}

.inner_fieldset {
	margin-top: 15px;
	border-top: 15px;
	border: none;
	height: 100%;
}

legend {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.form-group {
	position: relative;
	margin-bottom: 20px;
}

.form-group i {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #666;
	z-index: 1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 96%;
	height: 40px;
	padding-left: 50px;
	border: 0.1px solid #acabab;
	background-color: #e8f0fa87;
	outline: none;
	margin: 0 auto;
	/* Add this line to center the inputs */
}

input[type="submit"] {
	width: 100%;
	height: 40px;
	background-color: #4caf50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	cursor: pointer;
}

.forgot-password {
	text-decoration: none;
	color: #666;
	font-size: 14px;
	margin-top: 10px;
	display: block;
	text-align: center;
}

.forgot-password:hover {
	color: #333;
}

.terms-notice {
	font-size: 14px;
	color: #666;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

.social-login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.alt_login {
	margin-top: 60px;
	padding-left: 20px;
}

.social-login-options {
	display: flex;
	justify-content: space-around;
}

.social-login {
	font-size: 24px;
	width: 40px;
	height: 40px;
	margin: 0 10px;
	color: #333;
	transition: color 0.2s ease;
	border: 1px solid #4a4848;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-login:hover {
	color: #666;
}

.facebook {
	color: #4267b2;
	border: #acabab;
}

.twitter {
	color: #1da1f2;
	border: #acabab;
}

.linkedin {
	color: #0077b5;
	border: #acabab;
}

.whatsapp {
	color: #25d366;
	border: #acabab;
}

.messages {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
}

/* Base styling for all messages */
.message {
	padding: 5px;
	margin: 10px 0;
	border-radius: 5px;
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 10px;
	margin-bottom: 20px;
}

/* Success message */
.message.success {
	background-color: #28a745;
	color: white;
	/* border: 2px solid #218838; */
}

/* Error message */
.message.error {
	background-color: #dc3545;
	color: white;
	/* border: 2px solid #c82333; */
}

/* Info message */
.message.info {
	background-color: #17a2b8;
	color: white;
	/* border: 2px solid #138496; */
}

/* Warning message */
.message.warning {
	background-color: #ffc107;
	color: black;
	border: 2px solid #e0a800;
}

/* Optional: A closing button for messages */
.message .close {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
	font-size: 18px;
	color: white;
}

br {
	display: none;
}
/* Responsive Design */

@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		height: 80vh;
	}
}

@media only screen and (max-width: 480px) {
	.container {
		width: 100%;
		height: 80vh;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		height: 30px;
	}
}
