* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Flex Container */

.flex-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    height: 100%;
}

/* Image Section */

.image-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    height: 60%;
    width: 100%;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.image-section img {
    width: 80%;
    height: 80%;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
    right: 0;
}

.thumbnails img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

/* Tab Menu */

.tab-menu {
    border: 1px solid #aaa;
    display: flex;
    width: 100%;
}

.tab-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-color: white;
}

.tab-menu li {
    margin-right: 20px;
    cursor: pointer;
    /* border: 1px solid #ddd; */
}

.tab-menu li.active {
    border-bottom: 2px solid #007bff;
    background-color: #007bff38;
}

/* Tab Content */

.info_section{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* border: solid; */
    min-height: 35%;
}

.tab-content {
    padding: 10px;
    width: 100%;
    background-color: white;
}

.common-details,
.benefits,
.live-reviews {
    display: none;
}

.common-details.active,
.benefits.active,
.live-reviews.active {
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: white;
}

#common-details-content p{
    font-weight: 200;
}

.benefit-header {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-height: 60px;
    border: solid rgb(227, 224, 224) 0.1px;
}

.benefit-label {
    font-weight: bold;
    font-size: 18px;
    /* margin-bottom: 10px; */
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container span {
    margin-right: 10px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-container .fas {
    font-size: 18px;
    margin-left: 10px;
}

.benefit-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:100%;
}

.benefit-content span.benefit-list {
    display: inline-block;
    margin-left: 5px;
    width: 30%;
}

#fortifies-content,#heals-content,#treats-content{
    flex-wrap: wrap;
}

.benefit-list {
display: inline-block;
background-color: #f7f7f7;
padding: 3px;
border-radius: 5px;
text-align: center;
margin-left: 5px;
margin-bottom: 5px;
} */

.clinical-studies-btn {
display: none;
margin: 10px auto;
background-color: #4e504e;
color: #fff;
padding: 3px 5px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100%;
}

/* Clinical Study Container */

.clinical-studies-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #aaa;
    display: none;
}

.clinical-study-container.active {
    display: block;
}

#close-clinical-study-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
/* Live Reviews */
.live-reviews ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
    /* border: solid 1px; */
    /* border-color: #aca5a540; */
}

.review-container {
    position: relative;
    border: 1px solid #ccc;
    /* padding: 10px; */
    display: inline-block;
    vertical-align: top;
    /* margin: 10px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 90%;
    width: 200px
}

#audio-reviews-list li{
    width: 200px;
}

#audio-reviews-list {
    gap:20px;
    padding-left:10px;
    height: fit-content;
}


.vote-container {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 12px;
}

.upvotes {
    float: left;
}

.downvotes {
    float: right;
}

.content-container {
    text-align: center;
    height: 45px;
}

.content-container i.fas{
    font-size: 17px;
    margin-top: 5px;
    font-weight: 600;
    color: #7a7a7a;
}

.speaker-duration {
    font-size: 14px;
    /* margin-top: 5px; */
    display: flex;
    justify-content: space-around;
}

.speaker-name {
    display: inline-block;
}

.duration {
    display: inline-block;
    margin-left: 10px;
}

.review-container.positive {
    background-color: lightgreen;
}

.review-container.negative {
    background-color: lightcoral;
}

.review-container.neutral {
    background-color: lightyellow;
}

.live-reviews h2{
    font-size: 16px;
}

.reviews-list {
    display: none;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.reviews-list::-webkit-scrollbar {
    /* Chrome, Safari, and Opera */
    display: none;
}

/* .reviews-list.show {
    display: block;
} */

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .image-section {
        flex-direction: column;
    }

    .thumbnails {
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px) {

    .tab-menu li {
        margin-right: 0;
    }
}
